table:not(.highlight) {
  th,
  td {
    border-color: var(--color-font);
  }

  tr {
    background-color: var(--color-bg);
    border-color: var(--color-font);

    &:nth-child(2n) {
      background-color: var(--color-divider);
    }
  }
}
