<header>
    <div class="container-lg clearfix">
        <div class="col-6 header">
            <a class="title-main" href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
            {{ with .Site.Params.subTitle }}
            <span class="title-sub">{{ . }}</span>
            {{ end }}
        </div>
        <div class="col-6 search">
            <form class="search-form" action="/search" method="GET">
                <div class="search-input">
                    <input name="s" type="search" autocapitalize="off" autocomplete="off" autocorrect="off"
                           spellcheck="false" />
                    <button type="submit"><i class="iconfont icon-search-circle-sharp"></i></button>
                </div>
            </form>
        </div>
    </div>
</header>