{{ if eq .Section "search" }}
<script defer src="/assets/js/template-web.min.js" integrity="sha256-0sL5IkMJDqqdc9pElxsYupSMQjKt2+Ua6dCMPoDrwGg="></script>
<script defer src="/assets/js/fuse.min.js" integrity="sha256-xXM5w/oWsdadmmtGdJqBOe+NT8m7/kgUT/iXqn1CIuw="></script>
{{ else if eq .Section "archives" }}
{{ else }}
{{ $built := resources.Get "js/lazysizes.min.js" | resources.Fingerprint "sha512" }}
{{ $built := resources.Get "js/medium-zoom.min.js" | resources.Fingerprint "sha512" }}
{{ $built := resources.Get "js/prism-core.min.js" | resources.Fingerprint "sha512" }}
{{ $built := resources.Get "js/prism-autoloader.min.js" | resources.Fingerprint "sha512" }}
{{ end }}
{{ $options := (dict "targetPath" "assets/js/fuji.min.js" "minify" true "target" "es2015" "format" "iife") }}
{{ $built := resources.Get "js/fuji.js" | js.Build $options | resources.Fingerprint "sha512" }}
<script defer src="{{ $built.RelPermalink }}" integrity="{{ $built.Data.Integrity }}"></script>
{{ if or .Params.math .Site.Params.math }}
{{ partial "math.html" . }}
{{ end }}